[submodule "patient-service"]
	path = patient-service
	url = https://github.com/viminizer/patient-service.git
[submodule "analytics-service"]
	path = analytics-service
	url = https://github.com/viminizer/analytics-service.git
[submodule "billing-service"]
	path = billing-service
	url = https://github.com/viminizer/billing-service.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/viminizer/api-gateway-pm.git
[submodule "auth-service"]
	path = auth-service
	url = https://github.com/viminizer/auth-service-pm.git
[submodule "integration-tests"]
	path = integration-tests
	url = https://github.com/viminizer/integration-tests-pm.git
[submodule "infrastructure"]
	path = infrastructure
	url = https://github.com/viminizer/infrastructure-pm.git
